@model CCVolunteerScheduler.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@section navbar {
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse rounded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand headerSpacing" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Manage Account", "ManageAccount", new { controller = "Home" }, new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("View Calendar", "VolunteerCalendar", new { controller = "Home" }, new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("My Schedule", "MySchedule", new { controller = "Home" }, new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
}

<h3>@ViewBag.Title</h3>
<span>@ViewBag.Message</span>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    <br />
    <table align="center">
        <tr>
            <td colspan="2"><h5>Fill in the form below to change your password</h5></td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationSummary("", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.OldPassword)</td>
            <td>@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.NewPassword)</td>
            <td>@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.ConfirmNewPassword)</td>
            <td>@Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save" class="btn btn-default" /></td>
        </tr>
    </table>
    <hr />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}