@{
    ViewBag.Title = "Change Email Confirmation";
}
@section navbar {
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse rounded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand headerSpacing" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "AdminHome", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Calendar", "AdminCalendar", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Communications", "Communications", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Volunteers", "Volunteers", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item"><a href="~/Account/ChangeEmail" class="nav-link">Change Email</a></li>
                    <li class="nav-item"><a href="~/Account/ChangePassword" class="nav-link">Change Password</a></li>
                    <li class="nav-item"><a href="~/Account/ForgotPassword" class="nav-link">Forget Password</a></li>
                    <li class="nav-item"><a href="~/Account/ChangePhone" class="nav-link">Change Phone</a></li>
                }
            </ul>
        </div>
    </nav>
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your email has been updated.
    </p>
</div>

