@model CCVolunteerScheduler.Models.ChangePhoneViewModel

@section navbar {
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse rounded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand headerSpacing" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Manage Account", "ManageAccount", new { controller = "Home" }, new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("View Calendar", "VolunteerCalendar", new { controller = "Home" }, new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("My Schedule", "MySchedule", new { controller = "Home" }, new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
}

<span>@ViewBag.Message</span>
@using (Html.BeginForm("ChangePhone", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <br />
    <table align="center">
        <tr>
            <td>@Html.LabelFor(m => m.Phone)</td>
            <td>@Html.EditorFor(m => m.Phone, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" class="btn btn-default" value="Save" /></td>
        </tr>
    </table>
}

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
