@model CCVolunteerScheduler.Models.Volunteer
@{
    ViewBag.Title = "Login";
}
<center>
    <body>
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th colspan="3">
                        Login
                    </th>
                </tr>
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Email)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.Password)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Submit" />
                    </td>
                    <td></td>
                </tr>
            </table>

            <br />
            <br />
        }
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @if (@ViewBag.Message != null)
        {
            <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
            </script>
        }
    </body>
</center>