@model CCVolunteerScheduler.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@section navbar {
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse rounded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand headerSpacing" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Login", "Login", "Login", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item"><a href="~/Account/ChangeEmail" class="nav-link">Change Email</a></li>
                    <li class="nav-item"><a href="~/Account/ChangePassword" class="nav-link">Change Password</a></li>
                    <li class="nav-item"><a href="~/Account/ForgotPassword" class="nav-link">Forget Password</a></li>
                    <li class="nav-item"><a href="~/Account/ChangePhone" class="nav-link">Change Phone</a></li>
                }
            </ul>
        </div>
    </nav>
}
<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Code)
    <hr />
    <br />
    <table align="center">
        <tr>
            <td colspan="2"><h5>Fill in the form below to reset your password</h5></td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationSummary("", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save" class="btn btn-default" /></td>
        </tr>
    </table>
    <hr />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}