@foreach (var item in Model.volunteers)
{
    <div class="volunteer">
        <p>@Html.Encode(item.LastName), @Html.Encode(item.FirstName)</p>
        <button class="btn btn-info" onclick="if(window.confirm('Remove @Html.Encode(item.FirstName).Trim() from this event?')){AdminUnScheduleVolunteer(@item.ID, @Model.event_ID)}">Remove</button>
    </div>
}