@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AdminHome";
}

@section navbar {
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse rounded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand headerSpacing" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "AdminHome", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Calendar", "AdminCalendar", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Communications", "Communications", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Volunteers", "Volunteers", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
}
<br />
<br />
<br />

<div class="col-xs-12 col-md-12">
    <p>Welcome, @Model.FirstName!</p>
</div>

<br />
<br />

@*"....instructions...." will be updated once we know what information to put for the admin*@
<div class="col-xs-12 col-md-12">
    <p>.....instructions.....</p>
</div>

<br />
<br />
<br />
