@foreach (var item in Model){
    <div class="event" >
        <div class="basicEventInfo" onclick="ToggleDescription(@item.EventID)">
            <p>@Html.Encode(item.EventTitle)</p>
            <p>@Html.Encode(item.StartTime.ToString(@"hh\:mm")) - @Html.Encode(item.EndTime.ToString(@"hh\:mm"))</p>
        </div>
        <div class="eventDetails hide" id="@("event" + item.EventID)">
            <p>@Html.Encode(item.EventDescription)</p>
            @if(item.MaxVolunteers != 0){
                <p>Open Spots: @Html.Encode(item.MaxVolunteers - item.NumVolunteers) / @Html.Encode(item.MaxVolunteers)</p>
            }
            <button type="button" class="btn btn-info" onclick="Open(@item.EventID)" data-toggle="modal" data-target="#CopyEventModal">Edit</button>
        </div>
    </div>
}