@model CCVolunteerScheduler.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<center>
    <body>
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <table border="0" cellpadding="5" cellspacing="0">
            <tr>
                <td>
                    Old Password
                </td>
                <td>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </td>
                <td>
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                </td>
            </tr>
            <tr>
                <td>
                    New Password
                </td>
                <td>

                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })

                </td>
                <td>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    Confirm New Password
                </td>
                <td>

                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Save" />
                </td>
                <td></td>
            </tr>
        </table>
}
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
}

        </body>
    </center>