@model CCVolunteerScheduler.Models.ChangePhoneNumberModel

@{
    ViewBag.Title = "Change Phone Number";
}

<h2>@ViewBag.Title</h2>

<div class="col-md-8">
    @Html.LabelFor(model => model.PhoneNumber)
    @Html.EditorFor(model => model.PhoneNumber)
    @Html.ValidationMessageFor(model => model.PhoneNumber)

    @Html.LabelFor(model => model.Password)
    @Html.EditorFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)
</div>
<input type="submit" value="Save" />
