@model CCVolunteerScheduler.Models.ChangeEmailAddressModel

@{
    ViewBag.Title = "Change Email Address";
}

<h2>@ViewBag.Title</h2>

<div class="col-md-8">
    @Html.LabelFor(model => model.NewEmailAddress)
    @Html.EditorFor(model => model.NewEmailAddress)
    @Html.ValidationMessageFor(model => model.NewEmailAddress)

    @Html.LabelFor(model => model.ConfirmNewEmailAddress)
    @Html.EditorFor(model => model.ConfirmNewEmailAddress)
    @Html.ValidationMessageFor(model => model.ConfirmNewEmailAddress)

    @Html.LabelFor(model => model.Password)
    @Html.EditorFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)
</div>
<input type="submit" value="Save" />
