@model CCVolunteerScheduler.Models.ChangeEmailAddressModel

@{
    ViewBag.Title = "Change Email Address";
}

<center>
    <body>

        <h2>@ViewBag.Title</h2>

        <table border="0" cellpadding="5" cellspacing="0">
            <tr>
                <td>
                    New Email Address
                </td>
                <td>
                    @Html.EditorFor(model => model.NewEmailAddress)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.NewEmailAddress)
                </td>
            </tr>
            </tr>
            <td>
                Confirm New Email Address
            </td>
            <td>
                @Html.EditorFor(model => model.ConfirmNewEmailAddress)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.ConfirmNewEmailAddress)
            </td>

            </tr>
            </tr>
            <td>
                Password
            </td>
            <td>
                @Html.EditorFor(model => model.Password)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Password)
            </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Save" />
                </td>
                <td></td>
            </tr>
        </table>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @if (@ViewBag.Message != null)
        {
            <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
            </script>
        }
    </body>
</center>