@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Communications";
}

@section navbar {
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse rounded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand headerSpacing" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "AdminHome", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Calendar", "AdminCalendar", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Communications", "Communications", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Volunteers", "Volunteers", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
}
<br />
<br />
<br />
<div id="EmailModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Email Volunteers</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="EmailFlag" id="EmailFlag" />
                <table>
                    <tr>
                        <td>Subject</td>
                        <td><input type="text" name="subject" id="subject" style="width: 400px;" /></td>
                    </tr>
                    <tr>
                        <td>Message</td>
                        <td><textarea type="text" name="message" id="message" style="width: 400px;"></textarea></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button id="sendButton" class="btn btn-info" onclick="sendEmail()">Send Email</button></td>
                    </tr>
                </table>
                <script type="text/javascript">
                    function sendEmail() {
                        $("#sendButton").text("Please wait...");
                        var EmailFlag = $("#EmailFlag").val();
                        //alert(EmailFlag);
                        $.post("/Home/Communications",
                            {
                                EmailFlag: $("#EmailFlag").val(),
                                subject: $("#subject").val(),
                                message: $("#message").val()
                            },
                            function (result) {
                                alert(result + " Email(s) sent out");
                                $("#sendButton").text("Send Email");
                            });
                    }
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<center>
    <div class="container">
        <div class="col-xs-12 col-md-12">
            <button class="btn btn-info" data-toggle="modal" data-target="#EmailModal" onclick="$('#EmailFlag').val(1)">Email All Volunteers</button>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="col-xs-12 col-md-12">
            <button class="btn btn-info" data-toggle="modal" data-target="#EmailModal" onclick="$('#EmailFlag').val(2)">Email All Volunteers Working Today</button>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="col-xs-12 col-md-12">
            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("TextVolunteers", "Home")';return false;" data-toggle="modal" data-target="#TextVolunteersModal">Text Volunteers</button>
        </div>
    </div>
    <!---<br /> we took out this feature
    <br />
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 text-right text-phoneCenter">
                    <label for="reminderTime" class="col-md-6 col-lg-6">Auto Reminders:</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-left">
                    <select class="form-control col-md-6 col-lg-6" id="reminderTime">
                        <option value="0">12:00am</option>
                        <option value="1">1:00am</option>
                        <option value="2">2:00am</option>
                        <option value="3">3:00am</option>
                        <option value="4">4:00am</option>
                        <option value="5">5:00am</option>
                        <option value="6">6:00am</option>
                        <option value="7">7:00am</option>
                        <option value="8">8:00am</option>
                        <option value="9">9:00am</option>
                        <option value="10">10:00am</option>
                        <option value="11">11:00am</option>
                        <option value="12">12:00pm</option>
                        <option value="13">1:00pm</option>
                        <option value="14">2:00pm</option>
                        <option value="15">3:00pm</option>
                        <option value="16">4:00pm</option>
                        <option value="17">5:00pm</option>
                        <option value="18">6:00pm</option>
                        <option value="19">7:00pm</option>
                        <option value="20">8:00pm</option>
                        <option value="21">9:00pm</option>
                        <option value="22">10:00pm</option>
                        <option value="23">11:00pm</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="col-xs-12 col-md-12">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#SaveChangesModal">Save Changes</button>
        </div>
    </div> -->
    <br />
    <br />
    <br />
</center>