<div class="modal-header">
    <h4 class="modal-title">Edit Event</h4>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="eventTitleCopy">Event Title</label>
            <input type="text" class="form-control" id="eventTitleCopy" name="eventTitleCopy" value="@Model.EventTitle" />
            <br />

            <label for="eventDescCopy">Event Description</label>
            <textarea class="form-control" rows="3" id="eventDescCopy" name="eventDescCopy">@Model.EventDescription</textarea>
            <br />

            <label for="datepickerCopy">Event Date</label>
            <input id="datepickerCopy" name="datepickerCopy" width="276" />
            <script>
                var $j = jQuery.noConflict(); /* fixes bug with datepicker not showing up */
                $j('#datepickerCopy').datepicker({
                    uiLibrary: 'bootstrap4'
                });
            </script>
            <br />

            <small id="eventTimeDescCopy" class="form-text text-muted">Please format times as follows: HH:MM (6:00 for 6:00 AM or 18:00 for 6:00 PM)</small>
            <label for="eventStartCopy">Start Time</label>
            <input type="text" class="form-control" id="eventStartCopy" name="eventStartCopy" value="@Model.StartTime" />
            <br />

            <label for="eventEndCopy">End Time</label>
            <input type="text" class="form-control" id="eventEndCopy" name="eventEndCopy" value="@Model.EndTime" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" onclick="DeleteEvent(@Model.EventID)">Delete</button>
    <button type="button" class="btn btn-info" data-dismiss="modal" onclick="UpdateEvent(@Model.EventID, eventTitleCopy.value, eventDescCopy.value, $('#datepickerCopy').val(), eventStartCopy.value, eventEndCopy.value)">Update</button>
    <button type="button" class="btn btn-info" data-dismiss="modal" onclick="AddEvent(eventTitleCopy.value, eventDescCopy.value, $('#datepickerCopy').val(), eventStartCopy.value, eventEndCopy.value)">Copy</button>
</div>