@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ManageAccount";
}

@section navbar {
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse rounded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand headerSpacing" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Manage Account", "ManageAccount", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("View Calendar", "VolunteerCalendar", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("My Schedule", "MySchedule", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
}
<br />
<br />
<br />

<center>
    <div class="container">
        <div class="col-xs-12 col-md-12">
            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("ChangePassword", "Account")';return false;">Change Password</button>
        </div>
    </div>

    <br />

    <div class="container">
        <div class="col-xs-12 col-md-12">
            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("ChangeEmail", "Account")';return false;">Change Email</button>
        </div>
    </div>

    <br />

    <div class="container">
        <div class="col-xs-12 col-md-12">
            <button type="button" class="btn btn-info" onclick="location.href = '@Url.Action("ChangePhone", "Account")'; return false;">Change Phone #</button>
        </div>
    </div>

    <br />

    <div class="container">
        <div class="col-xs-12 col-md-12">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ToggleRemindersModal">Toggle Automatic Reminders</button>
        </div>
    </div>

    @*Will need to be changed to display based on the user's current toggle settings*@
    <div class="container">
        <div class="col-xs-12 col-md-12">
            <p>Currently: Enabled</p>
        </div>
    </div>

    <br />
    <br />
    <br />
</center>