@foreach (var item in Model)
{
    <div class="event" onclick="ToggleDescription(@item.EventID)">
        <p>@Html.Encode(item.EventTitle)</p>
        <p>@formatDay(item.StartTime) - @formatDay(item.EndTime)</p>
        <div class="eventDetails hide" id="@("event" + item.EventID)">
            <p>@Html.Encode(item.EventDescription)</p>
            @if (item.EventDate >= DateTime.Now)
            {
                <button class="btn btn-info" onclick="UnScheduleVolunteer(@item.EventID)">De-Commit</button>
            }
        </div>
    </div>
}

@functions{
    string formatDay(TimeSpan myTime)
    {
        string myString;

        int hours = myTime.Hours;
        int minutes = myTime.Minutes;
        string minuteString = "";

        string timeOfDay = "AM";

        if (hours >= 12)
        {
            timeOfDay = "PM";
            if (hours > 12)
            {
                hours -= 12;
            }
        }

        if (minutes < 10)
        {
            minuteString += "0";
        }
        minuteString += minutes;

        myString = hours + ":" + minuteString + " " + timeOfDay;

        return myString;
    }
}