@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MySchedule";
}

@section navbar {
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse rounded">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand headerSpacing" href="#"></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            @Html.ActionLink("Manage Account", "ManageAccount", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("View Calendar", "VolunteerCalendar", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item  active">
                            @Html.ActionLink("My Schedule", "MySchedule", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
}
<br />
<br />
<br />

<div class="col-xs-12 col-md-12">
    <h2>Your Upcoming Events</h2>
</div>
<center>
    <div class="table-responsive">
        @using (Html.BeginForm("MySchedule", "Home"))
        {
            <input type="submit" name="requestedDate" value="Back One Month" id="backOne" />
            <input type="submit" name="requestedDate" value="Forward One Month" id="forwardOne" />
            <input type="hidden" name="userMonth" value="@Model.Month.ToString("MMMMMMMMMMMMM")" id="userMonth" />
        }
        <table class="calendar">
            <thead>
                <tr>
                    <th colspan="7" class="txt-center"><h2>@Model.Month.ToString("MMMMMMMMMMMMM")</h2></th>
                </tr>
            </thead>
            <tbody>
                <tr class="txt-center mobile-row">
                    <td><h6>Sunday</h6></td>
                    <td><h6>Monday</h6></td>
                    <td><h6>Tuesday</h6></td>
                    <td><h6>Wednesday</h6></td>
                    <td><h6>Thursday</h6></td>
                    <td><h6>Friday</h6></td>
                    <td><h6>Saturday</h6></td>
                </tr>
                <tr class="txt-center desktop-row">
                    <td><h6>S</h6></td>
                    <td><h6>M</h6></td>
                    <td><h6>T</h6></td>
                    <td><h6>W</h6></td>
                    <td><h6>T</h6></td>
                    <td><h6>F</h6></td>
                    <td><h6>S</h6></td>
                </tr>
                @{
                    var curDay = new DateTime(Model.StartDate.Year, Model.StartDate.Month, 1);
                    var lastDay = new DateTime(Model.StartDate.Year, Model.StartDate.Month, DateTime.DaysInMonth(Model.StartDate.Year, Model.StartDate.Month));

                    int daysToAdd = (int)curDay.DayOfWeek;
                    if (daysToAdd > 0)
                    {
                        <tr>
                            @for (int i = daysToAdd; i > 0; i--)
                            {
                                <td class="calendar-day cell-inactive">
                                    @curDay.AddDays(-i).ToString("dd")

                                </td>

                            }
                            @for (int i = 0; i < Model.NumberOfDays - daysToAdd; i++)
                            {
                                <td class="calendar-day cell-inactive">
                                    <div id="@("date" + curDay.AddDays(i).ToString("dd"))">
                                        @curDay.AddDays(i).ToString("dd")
                                        @*PartialView*@
                                    </div>
                                </td>
                            }
                        </tr>
                        curDay = curDay.AddDays(Model.NumberOfDays - daysToAdd);
                    }
                    for (int i = 0; i < Model.NumberOfDays; i++)
                    {
                        if (curDay.CompareTo(lastDay) <= 0)
                        {
                            <tr>
                                @for (int j = 0; j < Model.NumberOfDays; j++)
                    {

                                    <td class="calendar-day cell-inactive" id="@("date" + curDay.AddDays(j).ToString("dd"))">
                                        @curDay.AddDays(j).ToString("dd")
                                        @*PartialView*@
                                    </td>
                                }
                            </tr>

                            curDay = curDay.AddDays(Model.NumberOfDays);
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <br />
    @if (Model.StartDate.Month == DateTime.Now.Month && Model.StartDate.Year == DateTime.Now.Year)
    {
        <script>document.getElementById("@("date" + DateTime.Today.ToString("dd"))").classList = "calendar-day cell-active";</script>
    }
</center>
<br />

<!-- used for getting events for a day -->
<script type="text/javascript">
    function getEvents(currentDay) {
        jQuery.noConflict();
        (function ($) {
            var myDay = "" + @Model.StartDate.ToString("yyyy");
            var month = @Model.StartDate.ToString("MM") + 0;
            if (month < 10) {
                myDay += "-0";
            }
            myDay += + @Model.StartDate.ToString("MM") + "-" + currentDay;

            var myID = 'date' + currentDay;
            $.ajax({
                type: "Get",
                url: '@Url.Action("MyScheduleGetEventsForDay", "home")',
                data: { day: myDay },
                success: function (data) {
                    if (data.trim()!='') {
                        document.getElementById(myID).innerHTML += data;
                    }
                }
            })
        })(jQuery);
    }
</script>
<script type="text/javascript">
    function getAllEvents() {
        for (var i = 1; i < 10; i++) {
            getEvents("0" + i);
        }
        for(var i = 10; i < 32; i++ ){
            getEvents(i);
        }
    }
</script>

<!-- for styling active day cell -->                                                        
<script type="text/javascript">
    window.onload = function(){
        document.getElementById("@("date" + DateTime.Today.ToString("dd"))").classList = "calendar-day";
        getAllEvents();
    }
</script>