@foreach (var item in Model){
    <div class="event" onclick="ToggleDescription(@item.EventID)">
        <p>@Html.Encode(item.EventTitle)</p>
        <p>@Html.Encode(item.StartTime) - @Html.Encode(item.EndTime)</p>
        <div class="eventDescription hide" id="@("event" + item.EventID)">
            <p>@Html.Encode(item.EventDescription)</p>
        </div>
        <button class="btn btn-info" onclick="ScheduleVolunteer(@item.EventID)">Sign Up</button>
    </div>
}