﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Volunteers";
}

@section navbar {
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse rounded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand headerSpacing" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Home", "AdminHome", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                @Html.ActionLink("Calendar", "AdminCalendar", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                @Html.ActionLink("Communications", "Communications", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                @Html.ActionLink("Volunteers", "Volunteers", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
}

<br />

<div class="col-xs-12 col-md-12">
    <h2>Manage Volunteers</h2>
    <table class="volunteerTable">

        <tr>

            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                Active
            </th>
            <th>
                Hours Worked
            </th>
            <th>
                Position
            </th>
        </tr> 
    
    @foreach (var item in Model) {

        <tr>
            
            <td>
                @Html.Encode(item.FirstName)
            </td>
            <td>
                @Html.Encode(item.LastName)
            </td>
            <td>
                @Html.Encode(item.Phone)
            </td>
            <td>
                @Html.Encode(item.Email)
            </td>
            <td>
                @Html.Encode(item.Active)
            </td>
            <td>
                @Html.Encode(item.HoursWorked)
            </td>
            <td>
                @Html.Encode(item.Position)
            </td>
            <td>
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info" onclick="Open(@item.ID)" data-toggle="modal" data-target="#EditVolunteerModal">Edit</button>
            </td>
        </tr>

    } 

    </table> 
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#AddVolunteerModal">Add Volunteer</button>
</div>

<!-- Modal -->
<div id="AddVolunteerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Volunteer</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" />
                        <br />

                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" />
                        <br />

                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" />
                        <br />

                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" />
                        <br />

                        <label for="position">Position</label>
                        <input type="text" class="form-control" id="position" />
                        <br />

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" onclick="AddVolunteer(firstName.value, lastName.value, phone.value, email.value, position.value)">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="EditVolunteerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="Preview">
                @*PartialView*@
        </div>
    </div>
</div>

<script type="text/javascript">
    function Open(currentId) {
        jQuery.noConflict();
        (function ($) {
            $.ajax({
                type: "Get",
                url: '@Url.Action("GetDetail", "home")',
                data: { id: currentId },
                success: function (data) {
                    $('#Preview').html(data);
                }
            })
        })(jQuery);
    }
</script>

<script type="text/javascript">
    function UpdateVolunteer(id, firstName, lastName, phone, email, active, hoursWorked, position) {
        jQuery.noConflict();
        (function ($) {
            $.ajax({
                type: "Get",
                url: '@Url.Action("UpdateVolunteer", "home")?id=' + id + '&firstName=' + firstName + '&lastName=' + lastName + '&phone=' + phone + '&email=' + email + '&active=' + active + '&hoursWorked=' + hoursWorked + '&position=' + position,
                success: function () {
                    location.reload();
                }
            })
        })(jQuery);
    }
</script>

<script type="text/javascript">
    function AddVolunteer(firstName, lastName, phone, email, position){
        jQuery.noConflict();
        (function ($) {
            $.ajax({
                type: "Get",
                url: '@Url.Action("AddVolunteer", "home")?firstName=' + firstName + '&lastName=' + lastName + '&phone=' + phone + '&email=' + email + '&position=' + position,
                success: function () {
                    location.reload();
                }
            })
        })(jQuery);
    }
</script>