<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Challenged Champions Volunteer Management</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/Site.css")
        <!--The statements below pull Bootstrap from MaxCDN-->
        @Styles.Render("~/Bootstrap/bootstrap.css")
        @Scripts.Render("~/Bootstrap/jquery-3.0.0.js")
        @Scripts.Render("~/Bootstrap/bootstrap.js")
    </head>
    <body>
        <header>
            <!--Logo and nav bar go here.-->
        </header>
        @RenderBody() <!--This will render each page while maintaining the unified look stored in this file-->
    </body>
</html>
